.jfx-hamburger StackPane {
	-fx-background-color: Gray;
}


.vbox {
    -fx-background-color: #2A2C36;
}

.tab {
    -fx-background-color: #2A2C36;
    -fx-pref-width: 170;
    -fx-pref-height: 43;
}

.tab-header-background {
    -fx-background-color: #2A2C36;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: transparent;
}